body {
  text-align: center;
  font-family: 'Arial';
  background-color: #f0f8ff;
  margin-top: 50px;
}

h1 {
  color: #0b3d91;
}

#firstButton {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#secondButton {
  padding: 10px 20px;
  font-size: 18px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

img {
  width: 50%;
}
